/* Hipercor */
/* Change this to customize */
/* PRICING */
/* FOOD  */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-regular-webfont.eot');
  src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-regular-webfont.woff') format('woff'), url('fonts/opensans-regular-webfont.ttf') format('truetype'), url('fonts/opensans-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-bold-webfont.eot');
  src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-bold-webfont.woff') format('woff'), url('fonts/opensans-bold-webfont.ttf') format('truetype'), url('fonts/opensans-bold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-light-webfont.eot');
  src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-light-webfont.woff') format('woff'), url('fonts/opensans-light-webfont.ttf') format('truetype'), url('fonts/opensans-light-webfont.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'moonshine-font';
  src: url('fonts/moonshine-font.eot');
  src: url('fonts/moonshine-font.eot?#iefix') format('embedded-opentype'), url('fonts/moonshine-font.woff') format('woff'), url('fonts/moonshine-font.ttf') format('truetype'), url('fonts/moonshine-font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato-regular-webfont.eot');
  src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-regular-webfont.woff') format('woff'), url('fonts/lato-regular-webfont.ttf') format('truetype'), url('fonts/lato-regular-webfont.svg') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato-regular-webfont.eot');
  src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-regular-webfont.woff') format('woff'), url('fonts/lato-regular-webfont.ttf') format('truetype'), url('fonts/lato-regular-webfont.svg') format('svg');
  font-style: normal;
}
.icon,
.logo {
  font-family: 'moonshine-font', Open Sans, Arial, Helvetica, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
}
.icon {
  font-size: 16px;
  font-size: 1rem;
}
.icon span {
  display: none;
}
.icon.android:before {
  content: "\e600";
}
.icon.android:hover {
  color: #90BE4E !important;
}
.icon.apple:before {
  content: "\e601";
}
.icon.apple:hover {
  color: #000000 !important;
}
.icon.list-2:before {
  content: "\e602";
}
.icon.list-3:before {
  content: "\e603";
}
.icon.list-4:before {
  content: "\e604";
}
.icon.d24:before {
  content: "\e605";
}
.icon.d48:before {
  content: "\e606";
}
.icon.facebook:before {
  content: "\e608";
}
.icon.facebook:hover {
  color: #3b5998 !important;
}
.icon.facebook-big:before {
  content: "\e609";
}
.icon.facebook-big:hover {
  color: #3b5998 !important;
}
.icon.free-delivery:before {
  content: "\e60a";
}
.icon.google-plus:before {
  content: "\e60b";
}
.icon.google-plus:hover {
  color: #d34836 !important;
}
.icon.google-plus-big:before {
  content: "\e60c";
}
.icon.google-plus-big:hover {
  color: #d34836 !important;
}
.icon.kedin-big:before {
  content: "\e60e";
}
.icon.kedin-big:hover {
  color: #B00000 !important;
}
.icon.new:before {
  content: "\e60f";
}
.icon.pinterest:before {
  content: "\e610";
}
.icon.pinterest:hover {
  color: #CB2027 !important;
}
.icon.pinterest-big:before {
  content: "\e611";
}
.icon.pinterest-big:hover {
  color: #CB2027 !important;
}
.icon.rss:before {
  content: "\e612";
}
.icon.tuenti:before {
  content: "\e613";
}
.icon.tuenti:hover {
  color: #8bcff2 !important;
}
.icon.tuenti-big:before {
  content: "\e614";
}
.icon.tuenti-big:hover {
  color: #8bcff2 !important;
}
.icon.twitter:before {
  content: "\e615";
}
.icon.twitter:hover {
  color: #55ACEE !important;
}
.icon.twitter-big:before {
  content: "\e616";
}
.icon.twitter-big:hover {
  color: #55ACEE !important;
}
.icon.instagram-big:before {
  content: "\e635";
}
.icon.instagram-big:hover {
  color: #3b5998 !important;
}
.icon.youtube-big:before {
  content: "\e617";
}
.icon.youtube-big:hover {
  color: #bb0000 !important;
}
.icon.search:before {
  content: "\f002";
}
.icon.mail:before {
  content: "\f003";
}
.icon.check:before {
  content: "\f00c";
}
.icon.delete:before {
  content: "\f00d";
}
.icon.zoom-in:before {
  content: "\f00e";
}
.icon.zoom-in {
  margin: 0 .3em .3em 0;
  font-size: 1.2em;
}
.icon.zoom-out:before {
  content: "\f010";
}
.icon.trash:before {
  content: "\f014";
}
.icon.print:before {
  content: "\f02f";
}
.icon.shopping-cart:before {
  content: "\f07a";
}
.icon.credit-card:before {
  content: "\f09d";
}
.icon.burger:before {
  content: "\f0c9";
  margin-right: 10px;
}
.icon.info:before {
  content: "\f129";
}
.icon.department-stores:before {
  content: "\e637";
}
.icon.info-solid:before {
  content: "\e62d";
}
.icon.euro:before {
  content: "\f153";
}
.icon.qrcode:before {
  content: "\f029";
}
.icon.checkbox:before {
  content: "\e618";
}
.icon.checkbox_selected:before {
  content: "\e619";
}
.icon.sort:before {
  content: "\f160";
}
.icon.phone:before {
  content: "\f095";
  margin-right: .3em;
}
.icon.desktop-nav:before {
  content: "\e61b";
}
.icon.desktop:before {
  content: "\e61c";
}
.icon.mobile:before {
  content: "\e61d";
}
.icon.tablet-horizontal:before {
  content: "\e61e";
}
.icon.tablet:before {
  content: "\e61f";
}
.icon.close-session:before {
  content: "\e628";
}
.icon.help:before {
  content: "\e627";
}
.icon.shopping-bag:before {
  content: "\e626";
}
.icon.user:before {
  content: "\e625";
}
.icon.no-user:before {
  content: "\e634";
}
.icon.no-user {
  font-size: 1.5em;
}
.icon.orders:before {
  content: "\e624";
}
.icon.arrow-solid:before {
  content: "\e623";
}
.icon.arrow:before {
  content: "\e622";
}
.icon.plus-circle:before {
  content: "\e620";
}
.icon.minus-circle:before {
  content: "\e638";
}
.icon.plus:before {
  content: "\e621";
}
.icon.minus:before {
  content: "\e629";
}
.icon.spinner:before {
  content: "\e62b";
}
.icon.lock:before {
  content: "\e62e";
}
.icon.calendar:before {
  content: "\f073";
}
.icon.delivery:before {
  content: "\e62f";
}
.icon.submenu:before {
  content: "\e623";
}
.icon.doc:before {
  content: "\e60a";
}
.icon.pdf:before {
  content: "\e605";
}
.icon.play-button:before {
  content: "\e606";
}
.icon.arrow-up:before {
  content: "\e65e";
  font-size: 0.7em;
}
.icon.arrow-down:before {
  content: "\e630";
  font-size: 0.7em;
}
.icon.arrow-left:before {
  content: "\e631";
  font-size: 0.7em;
}
.icon.arrow-right:before {
  content: "\e632";
  font-size: 0.7em;
}
.icon.cross:before {
  content: "\e633";
}
.icon.edit-item:before {
  content: "\e636";
}
.icon.i-up:before {
  content: "\e639";
}
.icon.i-gift:before {
  content: "\e63a";
}
.icon.i-contrast:before {
  content: "\e63e";
}
.icon.i-comparison:before {
  content: "\e63f";
}
.icon.kebab:before {
  content: "\e640";
}
.icon.wishlist-plus:before {
  content: "\e65d";
}
.icon.wishlist-minus:before {
  content: "\e65c";
}
.icon.i-wishlist:before {
  content: "\e660";
}
.icon.heart:before {
  content: "\e660";
}
.icon.i-wishlist-border:before {
  content: "\e902";
}
.icon.tick:before {
  content: "\e66e";
}
.icon.i-settings:before {
  content: "\e661";
}
.icon.solid-circle:before {
  content: "\e65f";
}
.icon.i-unlock:before {
  content: "\e800";
}
.icon.i-lock:before {
  content: "\e801";
}
.icon.i-comment:before {
  content: "\e900";
}
.icon.i-comment-solid:before {
  content: "\e901";
}
.icon.i-no-comment-solid:before {
  content: "\e903";
}
.icon.whatsapp-small:before {
  content: "\e904";
}
.icon.i-geo:before {
  content: "\e905";
}
.icon.i-add-list:before {
  content: "\e90c";
}
.icon.i-added-list:before {
  content: "\e90b";
  color: #88cc88;
}
.icon.i-language:before {
  content: "\e90d";
}
.icon.i-jewelry:before {
  content: "\e649";
}
.icon.i-bra:before {
  content: "\e643";
}
.icon.i-kids:before {
  content: "\e64a";
}
.icon.i-kshoes:before {
  content: "\e64b";
}
.icon.i-bshoes:before {
  content: "\e644";
}
.icon.i-mshoes:before {
  content: "\e64d";
}
.icon.i-wshoes:before {
  content: "\e659";
}
.icon.i-mbsize:before {
  content: "\e64c";
}
.icon.i-wbsize:before {
  content: "\e658";
}
.icon.i-petitte:before {
  content: "\e64f";
}
.icon.i-pants:before {
  content: "\e64e";
}
.icon.i-mjeans:before {
  content: "\e647";
}
.icon.i-wjeans:before {
  content: "\e648";
}
.icon.i-gloves:before {
  content: "\e645";
}
.icon.i-hat:before {
  content: "\e646";
}
.icon.i-belt:before {
  content: "\e642";
}
.icon.i-babies:before {
  content: "\e641";
}
.icon.i-polo:before {
  content: "\e650";
}
.icon.i-premama:before {
  content: "\e651";
}
.icon.i-shirt:before {
  content: "\e652";
}
.icon.i-suit:before {
  content: "\e653";
}
.icon.i-trunks:before {
  content: "\e654";
}
.icon.i-tshirt:before {
  content: "\e655";
}
.icon.i-underwear:before {
  content: "\e656";
}
.icon.i-wbottom:before {
  content: "\e657";
}
.icon.i-wtop:before {
  content: "\e65a";
}
.logo.sns:before {
  content: "\e62c";
}
.logo.click-and-collect:before {
  content: "\e62a";
}
.logo.moonshine:before {
  content: "\e61a";
}
.logo.moonshine {
  font-size: 0.4em;
}
.logo.eci:before {
  content: "\e607";
}
.logo.eci {
  color: #008c2e;
}
.logo.ltc:before {
  content: "\e607";
}
.logo.ltc {
  color: #008c2e;
}
.logo.hipercor:before {
  content: "\e60d";
}
.logo.hipercor {
  color: #1969a3;
}
.logo.i-muy:before {
  content: "\e63c";
}
.logo.i-muy {
  color: #a6874e;
  font-size: 1.4em;
}
.icon + span._text {
  margin-left: .5em;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.truncate.wrap {
  white-space: normal;
}
.truncate-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-wrapper .table-title {
  float: left;
  font-weight: bold;
  padding-left: 1em;
}
.truncate-inner {
  max-width: 1px;
  width: 100%;
}
/** --------------------------------------------------
* Flexbox elements
* ----------------------------------------------------
* Works with 'utils/flex_vendor.less' mixins:
*  - Vendor prefixes included.
* The spec: http://www.w3.org/TR/css3-flexbox
* ----------------------------------------------------
*/
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes disapear {
  50% {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }
  100% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}
@-moz-keyframes disapear {
  50% {
    -moz-transform: translateX(-5%);
    transform: translateX(-5%);
  }
  100% {
    -moz-transform: translateX(200%);
    transform: translateX(200%);
  }
}
@-webkit-keyframes disapear {
  50% {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }
  100% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes highlight {
  0% {
    background: white;
  }
  100% {
    background: none;
  }
}
@-moz-keyframes highlight {
  0% {
    background: white;
  }
  100% {
    background: none;
  }
}
@-o-keyframes highlight {
  0% {
    background: white;
  }
  100% {
    background: none;
  }
}
@keyframes highlight {
  0% {
    background: white;
  }
  100% {
    background: none;
  }
}
@keyframes highlight {
  0% {
    background: white;
  }
  100% {
    background: none;
  }
}
@-webkit-keyframes flash {
  0% {
    background-color: #ffffff;
    line-height: 70px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    line-height: 30px;
  }
}
@-moz-keyframes flash {
  0% {
    background-color: #ffffff;
    line-height: 70px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    line-height: 30px;
  }
}
@-o-keyframes flash {
  0% {
    background-color: #ffffff;
    line-height: 70px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    line-height: 30px;
  }
}
@keyframes flash {
  0% {
    background-color: #ffffff;
    line-height: 70px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    line-height: 30px;
  }
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1em;
}
input {
  outline: none;
}
* {
  box-sizing: border-box;
}
html {
  font-family: Open Sans, Arial, sans-serif;
}
.clear:before,
.clear:after {
  overflow: hidden;
  height: 0;
  content: '';
  display: block;
}
.clear:after {
  clear: both;
}
.inl-blk {
  display: inline-block;
}
.v-mid {
  vertical-align: middle;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cl {
  clear: left;
}
.txt-ind {
  text-indent: -9999px;
  display: inline-block;
}
.flow-y {
  overflow-y: auto;
}
.hidden {
  display: none !important;
}
.blk {
  display: block !important;
}
.sticked {
  position: fixed;
  z-index: 11;
  width: inherit;
}
.viewport {
  width: 58em;
}
.container {
  width: 58em;
}
* {
  margin: 0;
  padding: 0;
}
.vp {
  position: relative;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 75em;
}
.vp:before,
.vp:after {
  overflow: hidden;
  height: 0;
  content: '';
  display: block;
}
.vp:after {
  clear: both;
}
.cb:after {
  content: '';
  display: block;
  clear: both;
}
.container {
  margin: 0 auto;
  position: relative;
}
.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12 {
  display: table-cell;
  float: left;
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  display: block\9;
}
.c12 {
  width: 100%;
}
.c11 {
  width: 91.66666667%;
}
.c10 {
  width: 83.33333333%;
}
.c9 {
  width: 75%;
}
.c8 {
  width: 66.66666667%;
}
.c7 {
  width: 58.33333333%;
}
.c6 {
  width: 50%;
}
.c5 {
  width: 41.66666667%;
}
.c4 {
  width: 33.33333333%;
}
.c3 {
  width: 25%;
}
.c2 {
  width: 16.66666667%;
}
.c1 {
  width: 8.33333333%;
}
.o11 {
  margin-left: 91.66666667%;
}
.o10 {
  margin-left: 83.33333333%;
}
.o9 {
  margin-left: 75%;
}
.o8 {
  margin-left: 66.66666667%;
}
.o7 {
  margin-left: 58.33333333%;
}
.o6 {
  margin-left: 50%;
}
.o5 {
  margin-left: 41.66666667%;
}
.o4 {
  margin-left: 33.33333333%;
}
.o3 {
  margin-left: 25%;
}
.o2 {
  margin-left: 16.66666667%;
}
.o1 {
  margin-left: 8.33333333%;
}
*[class|="visible-"] {
  display: none;
}
*[class|="hidden-"] {
  display: block;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.p1 {
  padding: 1em;
}
.p2 {
  padding: 2em;
}
.pl {
  padding-left: 1em;
}
.pr {
  padding-right: 1em;
}
.pl2 {
  padding-left: 2em;
}
.pr2 {
  padding-right: 2em;
}
.m1 {
  margin: 1em;
}
.m2 {
  margin: 2em;
}
.mb {
  margin-bottom: 1em;
}
.mt {
  margin-top: 1em;
}
.mb2 {
  margin-bottom: 2em;
}
.mt2 {
  margin-top: 2em;
}
.w100 {
  width: 100% !important;
}
.rel {
  position: relative;
}
.cx,
.cy,
.left,
.right,
.top,
.bottom,
.abs {
  position: absolute;
}
.cx {
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.cy {
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.hidden-l,
.hidden-xl,
.hidden-xxl {
  display: none\9;
}
@media only screen and (max-width: 19.9375em) {
  .hidden-xxs {
    display: none;
  }
  .visible-xxs {
    display: block;
  }
  .c1-xxs,
  .c2-xxs,
  .c3-xxs,
  .c4-xxs,
  .c5-xxs,
  .c6-xxs,
  .c7-xxs,
  .c8-xxs,
  .c9-xxs,
  .c10-xxs,
  .c11-xxs,
  .c12-xxs {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-xxs {
    width: 100%;
  }
  .c11-xxs {
    width: 91.66666667%;
  }
  .c10-xxs {
    width: 83.33333333%;
  }
  .c9-xxs {
    width: 75%;
  }
  .c8-xxs {
    width: 66.66666667%;
  }
  .c7-xxs {
    width: 58.33333333%;
  }
  .c6-xxs {
    width: 50%;
  }
  .c5-xxs {
    width: 41.66666667%;
  }
  .c4-xxs {
    width: 33.33333333%;
  }
  .c3-xxs {
    width: 25%;
  }
  .c2-xxs {
    width: 16.66666667%;
  }
  .c1-xxs {
    width: 8.33333333%;
  }
  .o11-xxs {
    margin-left: 91.66666667%;
  }
  .o10-xxs {
    margin-left: 83.33333333%;
  }
  .o9-xxs {
    margin-left: 75%;
  }
  .o8-xxs {
    margin-left: 66.66666667%;
  }
  .o7-xxs {
    margin-left: 58.33333333%;
  }
  .o6-xxs {
    margin-left: 50%;
  }
  .o5-xxs {
    margin-left: 41.66666667%;
  }
  .o4-xxs {
    margin-left: 33.33333333%;
  }
  .o3-xxs {
    margin-left: 25%;
  }
  .o2-xxs {
    margin-left: 16.66666667%;
  }
  .o1-xxs {
    margin-left: 8.33333333%;
  }
  .o0-xxs {
    margin-left: 0%;
  }
  .pl-xxs {
    padding-left: 1em;
  }
  .pr-xxs {
    padding-right: 1em;
  }
  .pl2-xxs {
    padding-left: 2em;
  }
  .pr2-xxs {
    padding-right: 2em;
  }
  .cx-xxs,
  .cy-xxs,
  .left-xxs,
  .right-xxs,
  .top-xxs,
  .bottom-xxs {
    position: absolute;
  }
  .cx-xxs {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-xxs {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-xxs {
    left: 0;
    right: auto;
  }
  .right-xxs {
    right: 0;
    left: auto;
  }
  .top-xxs {
    top: 0;
    bottom: auto;
  }
  .bottom-xxs {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 20em) and (max-width: 29.9375em) {
  .hidden-xs {
    display: none;
  }
  .visible-xs {
    display: block;
  }
  .c1-xs,
  .c2-xs,
  .c3-xs,
  .c4-xs,
  .c5-xs,
  .c6-xs,
  .c7-xs,
  .c8-xs,
  .c9-xs,
  .c10-xs,
  .c11-xs,
  .c12-xs {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-xs {
    width: 100%;
  }
  .c11-xs {
    width: 91.66666667%;
  }
  .c10-xs {
    width: 83.33333333%;
  }
  .c9-xs {
    width: 75%;
  }
  .c8-xs {
    width: 66.66666667%;
  }
  .c7-xs {
    width: 58.33333333%;
  }
  .c6-xs {
    width: 50%;
  }
  .c5-xs {
    width: 41.66666667%;
  }
  .c4-xs {
    width: 33.33333333%;
  }
  .c3-xs {
    width: 25%;
  }
  .c2-xs {
    width: 16.66666667%;
  }
  .c1-xs {
    width: 8.33333333%;
  }
  .o11-xs {
    margin-left: 91.66666667%;
  }
  .o10-xs {
    margin-left: 83.33333333%;
  }
  .o9-xs {
    margin-left: 75%;
  }
  .o8-xs {
    margin-left: 66.66666667%;
  }
  .o7-xs {
    margin-left: 58.33333333%;
  }
  .o6-xs {
    margin-left: 50%;
  }
  .o5-xs {
    margin-left: 41.66666667%;
  }
  .o4-xs {
    margin-left: 33.33333333%;
  }
  .o3-xs {
    margin-left: 25%;
  }
  .o2-xs {
    margin-left: 16.66666667%;
  }
  .o1-xs {
    margin-left: 8.33333333%;
  }
  .o0-xs {
    margin-left: 0%;
  }
  .pl-xs {
    padding-left: 1em;
  }
  .pr-xs {
    padding-right: 1em;
  }
  .pl2-xs {
    padding-left: 2em;
  }
  .pr2-xs {
    padding-right: 2em;
  }
  .cx-xs,
  .cy-xs,
  .left-xs,
  .right-xs,
  .top-xs,
  .bottom-xs {
    position: absolute;
  }
  .cx-xs {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-xs {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-xs {
    left: 0;
    right: auto;
  }
  .right-xs {
    right: 0;
    left: auto;
  }
  .top-xs {
    top: 0;
    bottom: auto;
  }
  .bottom-xs {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 30em) and (max-width: 37.4375em) {
  .hidden-s {
    display: none;
  }
  .visible-s {
    display: block;
  }
  .c1-s,
  .c2-s,
  .c3-s,
  .c4-s,
  .c5-s,
  .c6-s,
  .c7-s,
  .c8-s,
  .c9-s,
  .c10-s,
  .c11-s,
  .c12-s {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-s {
    width: 100%;
  }
  .c11-s {
    width: 91.66666667%;
  }
  .c10-s {
    width: 83.33333333%;
  }
  .c9-s {
    width: 75%;
  }
  .c8-s {
    width: 66.66666667%;
  }
  .c7-s {
    width: 58.33333333%;
  }
  .c6-s {
    width: 50%;
  }
  .c5-s {
    width: 41.66666667%;
  }
  .c4-s {
    width: 33.33333333%;
  }
  .c3-s {
    width: 25%;
  }
  .c2-s {
    width: 16.66666667%;
  }
  .c1-s {
    width: 8.33333333%;
  }
  .o11-s {
    margin-left: 91.66666667%;
  }
  .o10-s {
    margin-left: 83.33333333%;
  }
  .o9-s {
    margin-left: 75%;
  }
  .o8-s {
    margin-left: 66.66666667%;
  }
  .o7-s {
    margin-left: 58.33333333%;
  }
  .o6-s {
    margin-left: 50%;
  }
  .o5-s {
    margin-left: 41.66666667%;
  }
  .o4-s {
    margin-left: 33.33333333%;
  }
  .o3-s {
    margin-left: 25%;
  }
  .o2-s {
    margin-left: 16.66666667%;
  }
  .o1-s {
    margin-left: 8.33333333%;
  }
  .o0-s {
    margin-left: 0%;
  }
  .pl-s {
    padding-left: 1em;
  }
  .pr-s {
    padding-right: 1em;
  }
  .pl2-s {
    padding-left: 2em;
  }
  .pr2-s {
    padding-right: 2em;
  }
  .cx-s,
  .cy-s,
  .left-s,
  .right-s,
  .top-s,
  .bottom-s {
    position: absolute;
  }
  .cx-s {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-s {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-s {
    left: 0;
    right: auto;
  }
  .right-s {
    right: 0;
    left: auto;
  }
  .top-s {
    top: 0;
    bottom: auto;
  }
  .bottom-s {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {
  .hidden-m {
    display: none;
  }
  .visible-m {
    display: block;
  }
  .c1-m,
  .c2-m,
  .c3-m,
  .c4-m,
  .c5-m,
  .c6-m,
  .c7-m,
  .c8-m,
  .c9-m,
  .c10-m,
  .c11-m,
  .c12-m {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-m {
    width: 100%;
  }
  .c11-m {
    width: 91.66666667%;
  }
  .c10-m {
    width: 83.33333333%;
  }
  .c9-m {
    width: 75%;
  }
  .c8-m {
    width: 66.66666667%;
  }
  .c7-m {
    width: 58.33333333%;
  }
  .c6-m {
    width: 50%;
  }
  .c5-m {
    width: 41.66666667%;
  }
  .c4-m {
    width: 33.33333333%;
  }
  .c3-m {
    width: 25%;
  }
  .c2-m {
    width: 16.66666667%;
  }
  .c1-m {
    width: 8.33333333%;
  }
  .o11-m {
    margin-left: 91.66666667%;
  }
  .o10-m {
    margin-left: 83.33333333%;
  }
  .o9-m {
    margin-left: 75%;
  }
  .o8-m {
    margin-left: 66.66666667%;
  }
  .o7-m {
    margin-left: 58.33333333%;
  }
  .o6-m {
    margin-left: 50%;
  }
  .o5-m {
    margin-left: 41.66666667%;
  }
  .o4-m {
    margin-left: 33.33333333%;
  }
  .o3-m {
    margin-left: 25%;
  }
  .o2-m {
    margin-left: 16.66666667%;
  }
  .o1-m {
    margin-left: 8.33333333%;
  }
  .o0-m {
    margin-left: 0%;
  }
  .pl-m {
    padding-left: 1em;
  }
  .pr-m {
    padding-right: 1em;
  }
  .pl2-m {
    padding-left: 2em;
  }
  .pr2-m {
    padding-right: 2em;
  }
  .cx-m,
  .cy-m,
  .left-m,
  .right-m,
  .top-m,
  .bottom-m {
    position: absolute;
  }
  .cx-m {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-m {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-m {
    left: 0;
    right: auto;
  }
  .right-m {
    right: 0;
    left: auto;
  }
  .top-m {
    top: 0;
    bottom: auto;
  }
  .bottom-m {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 48em) and (max-width: 56.1875em) {
  .hidden-l {
    display: none;
  }
  .visible-l {
    display: block;
  }
  .c1-l,
  .c2-l,
  .c3-l,
  .c4-l,
  .c5-l,
  .c6-l,
  .c7-l,
  .c8-l,
  .c9-l,
  .c10-l,
  .c11-l,
  .c12-l {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-l {
    width: 100%;
  }
  .c11-l {
    width: 91.66666667%;
  }
  .c10-l {
    width: 83.33333333%;
  }
  .c9-l {
    width: 75%;
  }
  .c8-l {
    width: 66.66666667%;
  }
  .c7-l {
    width: 58.33333333%;
  }
  .c6-l {
    width: 50%;
  }
  .c5-l {
    width: 41.66666667%;
  }
  .c4-l {
    width: 33.33333333%;
  }
  .c3-l {
    width: 25%;
  }
  .c2-l {
    width: 16.66666667%;
  }
  .c1-l {
    width: 8.33333333%;
  }
  .o11-l {
    margin-left: 91.66666667%;
  }
  .o10-l {
    margin-left: 83.33333333%;
  }
  .o9-l {
    margin-left: 75%;
  }
  .o8-l {
    margin-left: 66.66666667%;
  }
  .o7-l {
    margin-left: 58.33333333%;
  }
  .o6-l {
    margin-left: 50%;
  }
  .o5-l {
    margin-left: 41.66666667%;
  }
  .o4-l {
    margin-left: 33.33333333%;
  }
  .o3-l {
    margin-left: 25%;
  }
  .o2-l {
    margin-left: 16.66666667%;
  }
  .o1-l {
    margin-left: 8.33333333%;
  }
  .o0-l {
    margin-left: 0%;
  }
  .pl-l {
    padding-left: 1em;
  }
  .pr-l {
    padding-right: 1em;
  }
  .pl2-l {
    padding-left: 2em;
  }
  .pr2-l {
    padding-right: 2em;
  }
  .cx-l,
  .cy-l,
  .left-l,
  .right-l,
  .top-l,
  .bottom-l {
    position: absolute;
  }
  .cx-l {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-l {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-l {
    left: 0;
    right: auto;
  }
  .right-l {
    right: 0;
    left: auto;
  }
  .top-l {
    top: 0;
    bottom: auto;
  }
  .bottom-l {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 56.25em) and (max-width: 68.6875em) {
  .vp {
    max-width: 58em;
  }
  .container {
    max-width: 60em;
  }
  .hidden-xl {
    display: none;
  }
  .visible-xl {
    display: block;
  }
  .c1-xl,
  .c2-xl,
  .c3-xl,
  .c4-xl,
  .c5-xl,
  .c6-xl,
  .c7-xl,
  .c8-xl,
  .c9-xl,
  .c10-xl,
  .c11-xl,
  .c12-xl {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-xl {
    width: 100%;
  }
  .c11-xl {
    width: 91.66666667%;
  }
  .c10-xl {
    width: 83.33333333%;
  }
  .c9-xl {
    width: 75%;
  }
  .c8-xl {
    width: 66.66666667%;
  }
  .c7-xl {
    width: 58.33333333%;
  }
  .c6-xl {
    width: 50%;
  }
  .c5-xl {
    width: 41.66666667%;
  }
  .c4-xl {
    width: 33.33333333%;
  }
  .c3-xl {
    width: 25%;
  }
  .c2-xl {
    width: 16.66666667%;
  }
  .c1-xl {
    width: 8.33333333%;
  }
  .o11-xl {
    margin-left: 91.66666667%;
  }
  .o10-xl {
    margin-left: 83.33333333%;
  }
  .o9-xl {
    margin-left: 75%;
  }
  .o8-xl {
    margin-left: 66.66666667%;
  }
  .o7-xl {
    margin-left: 58.33333333%;
  }
  .o6-xl {
    margin-left: 50%;
  }
  .o5-xl {
    margin-left: 41.66666667%;
  }
  .o4-xl {
    margin-left: 33.33333333%;
  }
  .o3-xl {
    margin-left: 25%;
  }
  .o2-xl {
    margin-left: 16.66666667%;
  }
  .o1-xl {
    margin-left: 8.33333333%;
  }
  .o0-xl {
    margin-left: 0%;
  }
  .pl-xl {
    padding-left: 1em;
  }
  .pr-xl {
    padding-right: 1em;
  }
  .pl2-xl {
    padding-left: 2em;
  }
  .pr2-xl {
    padding-right: 2em;
  }
  .cx-xl,
  .cy-xl,
  .left-xl,
  .right-xl,
  .top-xl,
  .bottom-xl {
    position: absolute;
  }
  .cx-xl {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-xl {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-xl {
    left: 0;
    right: auto;
  }
  .right-xl {
    right: 0;
    left: auto;
  }
  .top-xl {
    top: 0;
    bottom: auto;
  }
  .bottom-xl {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 68.75em) {
  .vp {
    min-width: 68.75em;
    max-width: 75em;
    padding: 0 1em;
  }
  .container {
    width: 62em;
  }
  .hidden-xxl {
    display: none;
  }
  .visible-xxl {
    display: block;
  }
  .c1-xxl,
  .c2-xxl,
  .c3-xxl,
  .c4-xxl,
  .c5-xxl,
  .c6-xxl,
  .c7-xxl,
  .c8-xxl,
  .c9-xxl,
  .c10-xxl,
  .c11-xxl,
  .c12-xxl {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-xxl {
    width: 100%;
  }
  .c11-xxl {
    width: 91.66666667%;
  }
  .c10-xxl {
    width: 83.33333333%;
  }
  .c9-xxl {
    width: 75%;
  }
  .c8-xxl {
    width: 66.66666667%;
  }
  .c7-xxl {
    width: 58.33333333%;
  }
  .c6-xxl {
    width: 50%;
  }
  .c5-xxl {
    width: 41.66666667%;
  }
  .c4-xxl {
    width: 33.33333333%;
  }
  .c3-xxl {
    width: 25%;
  }
  .c2-xxl {
    width: 16.66666667%;
  }
  .c1-xxl {
    width: 8.33333333%;
  }
  .o11-xxl {
    margin-left: 91.66666667%;
  }
  .o10-xxl {
    margin-left: 83.33333333%;
  }
  .o9-xxl {
    margin-left: 75%;
  }
  .o8-xxl {
    margin-left: 66.66666667%;
  }
  .o7-xxl {
    margin-left: 58.33333333%;
  }
  .o6-xxl {
    margin-left: 50%;
  }
  .o5-xxl {
    margin-left: 41.66666667%;
  }
  .o4-xxl {
    margin-left: 33.33333333%;
  }
  .o3-xxl {
    margin-left: 25%;
  }
  .o2-xxl {
    margin-left: 16.66666667%;
  }
  .o1-xxl {
    margin-left: 8.33333333%;
  }
  .o0-xxl {
    margin-left: 0%;
  }
  .pl-xxl {
    padding-left: 1em;
  }
  .pr-xxl {
    padding-right: 1em;
  }
  .pl2-xxl {
    padding-left: 2em;
  }
  .pr2-xxl {
    padding-right: 2em;
  }
  .cx-xxl,
  .cy-xxl,
  .left-xxl,
  .right-xxl,
  .top-xxl,
  .bottom-xxl {
    position: absolute;
  }
  .cx-xxl {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-xxl {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-xxl {
    left: 0;
    right: auto;
  }
  .right-xxl {
    right: 0;
    left: auto;
  }
  .top-xxl {
    top: 0;
    bottom: auto;
  }
  .bottom-xxl {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 20em) {
  .hidden-xs-up {
    display: none;
  }
  .visible-xs-up {
    display: block;
  }
  .c1-xs-up,
  .c2-xs-up,
  .c3-xs-up,
  .c4-xs-up,
  .c5-xs-up,
  .c6-xs-up,
  .c7-xs-up,
  .c8-xs-up,
  .c9-xs-up,
  .c10-xs-up,
  .c11-xs-up,
  .c12-xs-up {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-xs-up {
    width: 100%;
  }
  .c11-xs-up {
    width: 91.66666667%;
  }
  .c10-xs-up {
    width: 83.33333333%;
  }
  .c9-xs-up {
    width: 75%;
  }
  .c8-xs-up {
    width: 66.66666667%;
  }
  .c7-xs-up {
    width: 58.33333333%;
  }
  .c6-xs-up {
    width: 50%;
  }
  .c5-xs-up {
    width: 41.66666667%;
  }
  .c4-xs-up {
    width: 33.33333333%;
  }
  .c3-xs-up {
    width: 25%;
  }
  .c2-xs-up {
    width: 16.66666667%;
  }
  .c1-xs-up {
    width: 8.33333333%;
  }
  .o11-xs-up {
    margin-left: 91.66666667%;
  }
  .o10-xs-up {
    margin-left: 83.33333333%;
  }
  .o9-xs-up {
    margin-left: 75%;
  }
  .o8-xs-up {
    margin-left: 66.66666667%;
  }
  .o7-xs-up {
    margin-left: 58.33333333%;
  }
  .o6-xs-up {
    margin-left: 50%;
  }
  .o5-xs-up {
    margin-left: 41.66666667%;
  }
  .o4-xs-up {
    margin-left: 33.33333333%;
  }
  .o3-xs-up {
    margin-left: 25%;
  }
  .o2-xs-up {
    margin-left: 16.66666667%;
  }
  .o1-xs-up {
    margin-left: 8.33333333%;
  }
  .o0-xs-up {
    margin-left: 0%;
  }
  .pl-xs-up {
    padding-left: 1em;
  }
  .pr-xs-up {
    padding-right: 1em;
  }
  .pl2-xs-up {
    padding-left: 2em;
  }
  .pr2-xs-up {
    padding-right: 2em;
  }
  .cx-xs-up,
  .cy-xs-up,
  .left-xs-up,
  .right-xs-up,
  .top-xs-up,
  .bottom-xs-up {
    position: absolute;
  }
  .cx-xs-up {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-xs-up {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-xs-up {
    left: 0;
    right: auto;
  }
  .right-xs-up {
    right: 0;
    left: auto;
  }
  .top-xs-up {
    top: 0;
    bottom: auto;
  }
  .bottom-xs-up {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 30em) {
  .hidden-s-up {
    display: none;
  }
  .visible-s-up {
    display: block;
  }
  .c1-s-up,
  .c2-s-up,
  .c3-s-up,
  .c4-s-up,
  .c5-s-up,
  .c6-s-up,
  .c7-s-up,
  .c8-s-up,
  .c9-s-up,
  .c10-s-up,
  .c11-s-up,
  .c12-s-up {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-s-up {
    width: 100%;
  }
  .c11-s-up {
    width: 91.66666667%;
  }
  .c10-s-up {
    width: 83.33333333%;
  }
  .c9-s-up {
    width: 75%;
  }
  .c8-s-up {
    width: 66.66666667%;
  }
  .c7-s-up {
    width: 58.33333333%;
  }
  .c6-s-up {
    width: 50%;
  }
  .c5-s-up {
    width: 41.66666667%;
  }
  .c4-s-up {
    width: 33.33333333%;
  }
  .c3-s-up {
    width: 25%;
  }
  .c2-s-up {
    width: 16.66666667%;
  }
  .c1-s-up {
    width: 8.33333333%;
  }
  .o11-s-up {
    margin-left: 91.66666667%;
  }
  .o10-s-up {
    margin-left: 83.33333333%;
  }
  .o9-s-up {
    margin-left: 75%;
  }
  .o8-s-up {
    margin-left: 66.66666667%;
  }
  .o7-s-up {
    margin-left: 58.33333333%;
  }
  .o6-s-up {
    margin-left: 50%;
  }
  .o5-s-up {
    margin-left: 41.66666667%;
  }
  .o4-s-up {
    margin-left: 33.33333333%;
  }
  .o3-s-up {
    margin-left: 25%;
  }
  .o2-s-up {
    margin-left: 16.66666667%;
  }
  .o1-s-up {
    margin-left: 8.33333333%;
  }
  .o0-s-up {
    margin-left: 0%;
  }
  .pl-s-up {
    padding-left: 1em;
  }
  .pr-s-up {
    padding-right: 1em;
  }
  .pl2-s-up {
    padding-left: 2em;
  }
  .pr2-s-up {
    padding-right: 2em;
  }
  .cx-s-up,
  .cy-s-up,
  .left-s-up,
  .right-s-up,
  .top-s-up,
  .bottom-s-up {
    position: absolute;
  }
  .cx-s-up {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-s-up {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-s-up {
    left: 0;
    right: auto;
  }
  .right-s-up {
    right: 0;
    left: auto;
  }
  .top-s-up {
    top: 0;
    bottom: auto;
  }
  .bottom-s-up {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 37.5em) {
  .hidden-m-up {
    display: none;
  }
  .visible-m-up {
    display: block;
  }
  .c1-m-up,
  .c2-m-up,
  .c3-m-up,
  .c4-m-up,
  .c5-m-up,
  .c6-m-up,
  .c7-m-up,
  .c8-m-up,
  .c9-m-up,
  .c10-m-up,
  .c11-m-up,
  .c12-m-up {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-m-up {
    width: 100%;
  }
  .c11-m-up {
    width: 91.66666667%;
  }
  .c10-m-up {
    width: 83.33333333%;
  }
  .c9-m-up {
    width: 75%;
  }
  .c8-m-up {
    width: 66.66666667%;
  }
  .c7-m-up {
    width: 58.33333333%;
  }
  .c6-m-up {
    width: 50%;
  }
  .c5-m-up {
    width: 41.66666667%;
  }
  .c4-m-up {
    width: 33.33333333%;
  }
  .c3-m-up {
    width: 25%;
  }
  .c2-m-up {
    width: 16.66666667%;
  }
  .c1-m-up {
    width: 8.33333333%;
  }
  .o11-m-up {
    margin-left: 91.66666667%;
  }
  .o10-m-up {
    margin-left: 83.33333333%;
  }
  .o9-m-up {
    margin-left: 75%;
  }
  .o8-m-up {
    margin-left: 66.66666667%;
  }
  .o7-m-up {
    margin-left: 58.33333333%;
  }
  .o6-m-up {
    margin-left: 50%;
  }
  .o5-m-up {
    margin-left: 41.66666667%;
  }
  .o4-m-up {
    margin-left: 33.33333333%;
  }
  .o3-m-up {
    margin-left: 25%;
  }
  .o2-m-up {
    margin-left: 16.66666667%;
  }
  .o1-m-up {
    margin-left: 8.33333333%;
  }
  .o0-m-up {
    margin-left: 0%;
  }
  .pl-m-up {
    padding-left: 1em;
  }
  .pr-m-up {
    padding-right: 1em;
  }
  .pl2-m-up {
    padding-left: 2em;
  }
  .pr2-m-up {
    padding-right: 2em;
  }
  .cx-m-up,
  .cy-m-up,
  .left-m-up,
  .right-m-up,
  .top-m-up,
  .bottom-m-up {
    position: absolute;
  }
  .cx-m-up {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-m-up {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-m-up {
    left: 0;
    right: auto;
  }
  .right-m-up {
    right: 0;
    left: auto;
  }
  .top-m-up {
    top: 0;
    bottom: auto;
  }
  .bottom-m-up {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 48em) {
  .hidden-l-up {
    display: none;
  }
  .visible-l-up {
    display: block;
  }
  .c1-l-up,
  .c2-l-up,
  .c3-l-up,
  .c4-l-up,
  .c5-l-up,
  .c6-l-up,
  .c7-l-up,
  .c8-l-up,
  .c9-l-up,
  .c10-l-up,
  .c11-l-up,
  .c12-l-up {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-l-up {
    width: 100%;
  }
  .c11-l-up {
    width: 91.66666667%;
  }
  .c10-l-up {
    width: 83.33333333%;
  }
  .c9-l-up {
    width: 75%;
  }
  .c8-l-up {
    width: 66.66666667%;
  }
  .c7-l-up {
    width: 58.33333333%;
  }
  .c6-l-up {
    width: 50%;
  }
  .c5-l-up {
    width: 41.66666667%;
  }
  .c4-l-up {
    width: 33.33333333%;
  }
  .c3-l-up {
    width: 25%;
  }
  .c2-l-up {
    width: 16.66666667%;
  }
  .c1-l-up {
    width: 8.33333333%;
  }
  .o11-l-up {
    margin-left: 91.66666667%;
  }
  .o10-l-up {
    margin-left: 83.33333333%;
  }
  .o9-l-up {
    margin-left: 75%;
  }
  .o8-l-up {
    margin-left: 66.66666667%;
  }
  .o7-l-up {
    margin-left: 58.33333333%;
  }
  .o6-l-up {
    margin-left: 50%;
  }
  .o5-l-up {
    margin-left: 41.66666667%;
  }
  .o4-l-up {
    margin-left: 33.33333333%;
  }
  .o3-l-up {
    margin-left: 25%;
  }
  .o2-l-up {
    margin-left: 16.66666667%;
  }
  .o1-l-up {
    margin-left: 8.33333333%;
  }
  .o0-l-up {
    margin-left: 0%;
  }
  .pl-l-up {
    padding-left: 1em;
  }
  .pr-l-up {
    padding-right: 1em;
  }
  .pl2-l-up {
    padding-left: 2em;
  }
  .pr2-l-up {
    padding-right: 2em;
  }
  .cx-l-up,
  .cy-l-up,
  .left-l-up,
  .right-l-up,
  .top-l-up,
  .bottom-l-up {
    position: absolute;
  }
  .cx-l-up {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-l-up {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-l-up {
    left: 0;
    right: auto;
  }
  .right-l-up {
    right: 0;
    left: auto;
  }
  .top-l-up {
    top: 0;
    bottom: auto;
  }
  .bottom-l-up {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 56.25em) {
  .hidden-xl-up {
    display: none;
  }
  .visible-xl-up {
    display: block;
  }
  .c1-xl-up,
  .c2-xl-up,
  .c3-xl-up,
  .c4-xl-up,
  .c5-xl-up,
  .c6-xl-up,
  .c7-xl-up,
  .c8-xl-up,
  .c9-xl-up,
  .c10-xl-up,
  .c11-xl-up,
  .c12-xl-up {
    display: table-cell;
    float: left;
    position: relative;
  }
  .c12-xl-up {
    width: 100%;
  }
  .c11-xl-up {
    width: 91.66666667%;
  }
  .c10-xl-up {
    width: 83.33333333%;
  }
  .c9-xl-up {
    width: 75%;
  }
  .c8-xl-up {
    width: 66.66666667%;
  }
  .c7-xl-up {
    width: 58.33333333%;
  }
  .c6-xl-up {
    width: 50%;
  }
  .c5-xl-up {
    width: 41.66666667%;
  }
  .c4-xl-up {
    width: 33.33333333%;
  }
  .c3-xl-up {
    width: 25%;
  }
  .c2-xl-up {
    width: 16.66666667%;
  }
  .c1-xl-up {
    width: 8.33333333%;
  }
  .o11-xl-up {
    margin-left: 91.66666667%;
  }
  .o10-xl-up {
    margin-left: 83.33333333%;
  }
  .o9-xl-up {
    margin-left: 75%;
  }
  .o8-xl-up {
    margin-left: 66.66666667%;
  }
  .o7-xl-up {
    margin-left: 58.33333333%;
  }
  .o6-xl-up {
    margin-left: 50%;
  }
  .o5-xl-up {
    margin-left: 41.66666667%;
  }
  .o4-xl-up {
    margin-left: 33.33333333%;
  }
  .o3-xl-up {
    margin-left: 25%;
  }
  .o2-xl-up {
    margin-left: 16.66666667%;
  }
  .o1-xl-up {
    margin-left: 8.33333333%;
  }
  .o0-xl-up {
    margin-left: 0%;
  }
  .pl-xl-up {
    padding-left: 1em;
  }
  .pr-xl-up {
    padding-right: 1em;
  }
  .pl2-xl-up {
    padding-left: 2em;
  }
  .pr2-xl-up {
    padding-right: 2em;
  }
  .cx-xl-up,
  .cy-xl-up,
  .left-xl-up,
  .right-xl-up,
  .top-xl-up,
  .bottom-xl-up {
    position: absolute;
  }
  .cx-xl-up {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .cy-xl-up {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-xl-up {
    left: 0;
    right: auto;
  }
  .right-xl-up {
    right: 0;
    left: auto;
  }
  .top-xl-up {
    top: 0;
    bottom: auto;
  }
  .bottom-xl-up {
    bottom: 0;
    top: auto;
  }
}
.debug {
  height: 1.5em;
}
.debug:before {
  text-align: center;
  font-weight: bold;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  content: 'Debug';
  line-height: 2em;
  background: #fc0;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
}
.debug:hover {
  height: auto;
  overflow: inherit;
}
.debug:hover pre {
  padding: 2em;
  font-family: monospace;
}
.debug-radio {
  display: none;
}
.debug-radio + label {
  -webkit-order: 0;
  -moz-order: 0;
  -ms-order: 0;
  order: 0;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
  -webkit-align-self: auto;
  -moz-align-self: auto;
  -ms-align-self: auto;
  align-self: auto;
  text-align: center;
  line-height: 1.5em;
  padding: 0 1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  background: #ffdb4d;
}
.debug-tab_container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-align-content: stretch;
  align-content: stretch;
  width: 100%;
}
.debug-panels {
  position: relative;
}
.debug-panel {
  text-align: center;
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
}
